<div class="bg-white p-4">
  <h1 class="text-gray-800 text-2xl mb-4">Bảng Tin Tức</h1>

  <div class="overflow-x-auto flex flex-col space-y-[20px]">
    <a href="/admin/posts/add">
      <button class="bg-green-500 text-white px-4 py-2 rounded mr-2">
        Create
      </button>
    </a>
    <table class="min-w-full bg-white border border-gray-200">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">id</th>
          <th class="py-2 px-4 border-b">Tiêu đề</th>
          <th class="py-2 px-4 border-b">Nội dung</th>
          <th class="py-2 px-4 border-b">Author</th>
          <th class="py-2 px-4 border-b">Danh mục</th>
          <th class="py-2 px-4 border-b">Hình ảnh</th>
          <th class="py-2 px-4 border-b">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="posts && posts.length">
        <tr *ngFor="let post of posts; index as i" class="">
          <td class="py-2 px-4 border-b">{{ i + 1 }}</td>
          <td class="py-2 px-4 border-b">{{ post.title }}</td>
          <td class="py-2 px-4 limit-content border-b">
            {{ post.content?.substring(0, 100) + "..." }}
          </td>
          <td class="py-2 px-4 border-b">{{ post.author }}</td>
          <td class="py-2 px-4 border-b">{{ post.categoryId?.name }}</td>

          <td class="py-2 px-4 border-b">
            <img
              src="{{ post.image }}"
              alt="Hình ảnh 1"
              class="w-12 h-12 object-cover rounded"
            />
          </td>
          <td class="py-2 px-4 flex items-center border-b">
            <a href="/admin/posts/{{ post._id }}/edit">
              <button class="bg-blue-500 text-white px-4 py-2 rounded mr-2">
                Edit
              </button>
            </a>
            <button
              class="bg-red-500 text-white px-4 py-2 rounded"
              (click)="removeItem(post._id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
