<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<div
  class="relative mx-auto max-w-screen-xl px-4 py-4 sm:px-6 lg:flex lg:items-center lg:px-8"
>
  <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
    <h1 class="text-3xl font-extrabold sm:text-5xl flex">
      {{ category.name }}
      <strong class="block font-extrabold text-rose-700"> News </strong>
    </h1>
  </div>
</div>
<hr class="container mx-auto my-4 border-gray-800 border-solid border-[1px]" />
<div class="container mx-auto grid grid-cols-2 gap-10">
  <div class="border border-r-2 border-gray-100 border-x-0 border-y-0 p-10">
    <div *ngFor="let post of posts; let i = index">
      <ng-container *ngIf="i == 0">
        <a
          class="relative flex items-start justify-between rounded-xl border-1px border-gray-100 p-4 shadow-xl sm:p-6 lg:p-8"
          href="post/{{ post._id }}"
        >
          <div class="pt-4 text-gray-500">
            <div class="mb-[24px]">
              <img src="{{ post.image }}" alt="" />
            </div>
            <div>
              <time datetime="2022-10-10" class="block text-xs text-gray-500">
                {{ post.createdAt?.substring(0, 10) }}
              </time>
            </div>
            <div>
              <a href="#">
                <h3 class="mt-0.5 text-lg text-gray-900">
                  {{ post.title }}
                </h3>
              </a>
            </div>
            <div>
              <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                {{ post.content }}
              </p>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div *ngFor="let post of posts.slice(1)">
      <!-- <ng-container *ngIf="i !== 0"> -->
      <article
        class="overflow-hidden rounded-lg shadow transition hover:shadow-lg"
      >
        <img
          alt="Office"
          src="{{ post.image }}"
          class="h-56 w-full object-cover"
        />

        <div class="bg-white p-4 sm:p-6">
          <time datetime="2022-10-10" class="block text-xs text-gray-500">
            {{ post.createdAt?.substring(0, 10) }}
          </time>

          <a href="#">
            <h3 class="mt-0.5 text-lg text-gray-900">
              {{ post.title }}
            </h3>
          </a>

          <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
            {{ post.content }}
          </p>
        </div>
      </article>
      <!-- </ng-container> -->
    </div>
  </div>
</div>
